[build]
  command = "npm run build"
  publish = "dist"
  functions = "netlify/functions"

[functions]
  included_files = [
    "./netlify/functions/report-template.docx",
    "./netlify/functions/report-template.html",
    "./netlify/functions/rules.yml"
  ]

[[redirects]]
  from = "/api/*"
  to = "/.netlify/functions/:splat"
  status = 200

[[redirects]]
  from = "/review/*"
  to = "/index.html"
  status = 200

[[redirects]]
  from = "/success/*"
  to = "/index.html"
  status = 200

[[redirects]]
  from = "/admin/*"
  to = "/index.html"
  status = 200

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
